img{
    width: 200px;
}

#display-blog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-post{
    background-color: rgb(118, 118, 118);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: auto;
}

.blog-post > a{
    margin-bottom: 30px;
    text-decoration:none;
    text-shadow: var(--black) 0px 2px;
    color: var(--white);
}

.blog-post > a:hover{
    text-shadow: none;
}

.button-container{
    margin-top: auto;}

.date{
    display: flex;
    flex-direction: row;
    text-wrap:stable;
}
