body{
    background-color: black;
}

h1{
    color: white;
    font-size: xx-large;
    .jacquard-24-regular {
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      
}